{% extends 'home.html' %}
{% block title %}Browse by Book Name{% endblock title %}
{% block body %}
<div class = "container">
    <form class="form-inline my-2 my-lg-0" method="post" action="/searchbycode">{% csrf_token %}
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="searchByCode">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <table class="table table-striped table-bordered table-sm">
        <caption class="caption-top">List of Books</caption>
        <thead class="thead-dark">  
            <tr>  
                <th>Barcode</th>  
                <th>Title</th>  
                <th>Author</th>  
                <th>Language</th>
                <th>Edition</th> 
            </tr>  
        </thead>  
        <tbody>  
            {% for bookEntry in books %}  
                <tr>  
                    <td>{{ bookEntry.code }}</td>  
                    <td>{{ bookEntry.title }}</td>  
                    <td>{{ bookEntry.author }}</td>  
                    <td>{{ bookEntry.language}}</td> 
                    <td>{{ bookEntry.edition}}</td>  
                </tr>  
            {% endfor %}  
        </tbody>  
    </table>  
</div>

{% endblock body %}